html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
}

@font-face {
    font-family: odin-font;
    src: url(Norse-Bold.otf);
}
.photos {
    background-image: url('halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover; /* Ensure the image covers the container */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 618.221346705px;
    position: relative;
    padding-top: 10%;
}

.footer > a {
    color: white;
}

.logo {
    font-family: odin-font;
    color: white;
    font-size: large;
    width: 100%;
    height: 15%;
    text-align: center;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6em;
    background-color: rgba(0, 0, 0, 0.5); 
}

.footer{
    color: white;
    position:fixed;
    bottom:0;
    width: inherit;
    text-align: center;
    padding-bottom: 15px;
}
#odin-logo {
    height: 100%;
}
.form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.title {
    font-size: 1.5em;
    font-weight: bold;
    background-color: whitesmoke;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px
}

.title > div{
    width: 800px;
    text-wrap: wrap;
}

.inputs {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    gap: 20px;
    padding-top: 30px;
    font-size: 1.5em;
    font-weight: 800;
    box-shadow: 0 2px 4px black;
    padding-bottom: 40px;
    position: relative;
}

input{
    width: 300px;
    height: 20px;
}

input:invalid {
    border-color: red;
}

input:focus {
    border-color: blue;
    border-width: 1px;
    box-shadow: 0 0 4px black;
    outline: none;
}


.buttons {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    flex-grow: 1;
    padding-top: 35px;
    gap: 25px;
}
.fields{
    display: flex;
    gap: 100px;
    font-weight: 500;
}
.fields > div{
    display: flex;
    flex-direction: column;
    font-size: .75em;
}

#login {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}
button {
    color: white;
    background-color: #596D48;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bolder;
}